# Step-1 : Install the packages
langchain # main Langchain Library
openai # This is the official Python package for OpenAI's API, enabling you to work with powerful
chromadb==0.3.29 # Vector Database 
pytube
youtube_transcript_api
tiktoken # use to count and manage tokens
streamlit 
requests_cache

